<nav class="navbar" appSticky>
  <a class="logo-image" routerLink="">
    <img
      src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg"
      alt="Logo"
      class="logo-image"
    />
  </a>
  <ng-container>
    <div class="auth-box" *ngIf="!(afAuth.user | async)">
      <p class="auth-text">Join for unlimited movies & Tv shows</p>
      <button class="btn reg-button" routerLink="register">Join Now</button>
      <button class="btn login-button" routerLink="login">Login</button>
    </div>
    <div class="logo-image logged" *ngIf="afAuth.user | async">
      User is logged
      <button class="btn login-button" (click)="logout()">logout</button>
    </div>
  </ng-container>
</nav>
