<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix Clone</title>
  </head>
  <body>
    <nav class="navbar">
      <img
        src="https://i.pinimg.com/originals/49/74/f4/4974f494d2d7c3559bdb5120ac3f7c7f.jpg"
        alt="Logo"
        class="logo-image"
      />
      <div class="auth-box">
        <p class="auth-text">Join for unlimited movies & Tv shows</p>
        <button class="btn reg-button">Join Now</button>
        <button class="btn login-button">Login</button>
      </div>
    </nav>
    <header class="main">
      <h1 class="heading">Movies</h1>
      <p class="main-info">
        Movies move us like nothing else can, whether they're scary, funny,
        dramatic, romantic or anywhere in-between. So many titles, so much to
        experience.
      </p>
    </header>
  </body>
</html>
