.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 63px;
  width: 100vh;
  align-items: center;
}
h2{
  height: 200px;
  background-color: #010e1b;
  width: 100vw;
  color: aquamarine;
  font-size: 30px;
  font-weight: 300;
  font-family: fantasy;
  text-align: center;
  padding-top: 80px;

}
