<div class="form-container mat-elevation-z5">
  <h1>Sign Up a New User!</h1>
  <form>
    <mat-form-field>
      <input matInput placeholder="Name" />
      <mat-error>
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email address" />
      <mat-error>
        Email address is required
      </mat-error>
      <mat-error>
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"

      />
      <mat-error>
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Confirm Password"

      />
      <mat-error>
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <mat-error>
        Passwords should match
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Sign Up!</button>
    </div>
  </form>
</div>
